
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('product.jpeg');
    background-size: cover;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 100%;
    position:fixed;
    /* background-repeat: no-repeat; */
}
img {
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 50%;
}
.navbar {
    display: flex;

}
ul {
    /* border: 2px solid black; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item {
    margin: 5px;
    
}
li {
    list-style: none;

}
a:hover{
    text-decoration: underline;
    color: cyan;
}
.primary:hover {
    text-decoration: underline;

    color:purple;
}
#product {
    display: flex;
    margin: 3px;
}
#product .box {
    border: 2px solid brown;
    padding: 1px;
    margin: 0px;
    border-radius: 50px;
    background: #000000;
    color: white;
     margin-bottom: 0px;
    /* height: 300px;  */
     /* width: 300px; */
     
 }

 #product .box1 {
    border: 2px solid brown;
    padding: 1px;
    margin: 3px;
    border-radius: 50px;
    background: #000000;
    color: white;
    overflow: hidden;
     /* margin-bottom: 0px; */
    /* height: 300px;  */
     /* width: 300px; */
 }

#product .box2 {
    border: 2px solid brown;
    padding: 1px;
    margin: 0px;
    border-radius: 50px;
    background: #000000;
    color: white;
     margin-bottom: 0px;
     overflow: hidden;
    /* height: 300px;  */
     /* width: 300px; */
 }

/* #product .box1 img {
    height: 160px;
    margin: auto;
    display: block;
} */ 
#product .box p {
    text-align: center;
}
.h-secondry {
    text-align: center;
}
.primary {
    text-align: center;
    font-size: 3em;
    color: rgb(255, 0, 157);
}